#yt2clip-but {
  cursor: pointer;
  background: #272727;
  border-radius: 50%;
  margin-left: 6px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#yt2clip-but:hover,
#yt2clip-but:focus {
  background: #3f3f3f;
}

#yt2clip-but:active {
  background: #00be00;
}